{% assign share_path = blog.template  | append: '/share.liquid' %}
{% if post.type == 2 %}

    <article id="article-{{ post.id }}" itemscope itemType="https://schema.org/Book">
    <meta itemprop="name" content="{{ post.title }}"/>
    
{% else %}
    
    <article id="article-{{ post.id }}" itemscope itemType="https://schema.org/BlogPosting">
    <meta itemprop="articleSection" content="{{ post.navigation.maintag.slug }}"/>
    <meta itemprop="name" content="Article"/>
    
{% endif %}
    
<meta itemprop="inLanguage" content="fr-FR"/>
<meta itemprop="author" content="Thierry Crouzet"/>
<meta itemprop="accountablePerson" content="Thierry Crouzet"/>
<meta itemprop="datePublished" content="{{ post.pub_date_str }}"/>
<meta itemprop="dateModified" content="{{ post.pub_update_str }}"/>
<meta itemprop="url" content="{{ post.canonical }}" />
    
<div class="poster maxContainerWidth">
{% if post.thumb %}
        
    {% if post.paged == 0 %}<div class="maxContainerWidth"></div>{% endif %}
    
    {{ post.thumb.tag }}
    {% if post.thumb.alt != blank %}<div class="poster-legend">{{ post.thumb.alt }}</div>{% endif %}
    
{% endif %}
    
    <div class="poster-title{% if not post.thumb or post.type == 2 %} poster-title-center{% endif %}">
    {% if not post.thumb %}<div class="poster-big-spacer maxContainerWidth"></div>{% endif %}
    
    <h1 itemprop="headline" id="title{{ post.id }}">{{ post.title }}</h1>
    
    {% if post.type == 0 %}
    
    <div class="poster-subtitle">
        <div class="poster-serie">
        <a href="{{ post.navigation.prev_url }}" class="prev">&lt; </a>
        {% if post.navigation.maintag.slug != blank %}
            <a href="/tag/{{ post.navigation.maintag.slug }}">{{ post.navigation.maintag.title }} {{ post.navigation.order }}</a> ● 
        {% endif %}
        {{ post.navigation.datelink }}
        <a href="{{ post.navigation.next_url }}" class="next"> &gt;</a>
        </div>
    
        <div class="plus-contenair">
            {% include share_path %}
            <div class="plus">&bull;&bull;&bull;<ul>
                <li><a
                        href="http://www.printfriendly.com/print?url={{ post.url }}&amp;partner=sociable">Imprime
                        le billet/PDF</a></li>
                <li><a
                        href="https://tcrouzet-com.translate.goog{{ post.url }}/?_x_tr_sl=fr&_x_tr_tl=en&_x_tr_hl=en">Version
                        EN/US</a></li>
                <li><a href="/abonnement-par-mail/">Abonne-toi</a></li>
                <li>Tags : {% for tag in post.tagslist %}<a href="/tag/{{tag}}">{{tag | capitalize}} </a>{% endfor %}</li>
                <li><a href="http://creativecommons.org/licenses/by-nc-sa/4.0/deed.fr"
                        class="footertitre">(cc)</a>&#8239;<a
                        href="/informations/">Thierry&#8239;Crouzet</a></li>
            </ul>
            </div>
        </div>
    </div>
    
{% endif %}
</div>
    
<div class="post hentry" itemprop="articleBody" id="post-{{ post.id }}">
    
{{ post.html }}
    
<div class="sharebas pageGutter">{% include share_path %}</div>
    
</div>
{% comment %} End post hentry {% endcomment %}

<div class="load-more-url" next-url="{{ post.navigation.prev_url }}" style="display: none;"></div>

</article>