{% comment %} {% assign share_path = blog.template  | append: '/share.liquid' %}
{% assign mail_path = blog.template  | append: '/newsletter.liquid' %} {% endcomment %}

{% if post.type == 3 %}
    <article itemscope itemType="https://schema.org/CollectionPage">
{% elsif post.type == 2 %}
    <article itemscope itemType="https://schema.org/Book">
{% elsif post.type == 1 %}
    <article itemscope itemType="https://schema.org/WebPage">
{% else %}
    <article itemscope itemType="https://schema.org/BlogPosting">
{% endif %}

<header>
    {% if post.thumb %}

        <figure>
            <img width="{{ post.thumb.width }}" height="{{ post.thumb.height }}" src="{{ post.thumb.url }}"
            class="{% if post.thumb.height > post.thumb.width %}poster-img-book{% else %}poster-img-full{% endif %}" 
            alt="{{ post.thumb.legend }}" fetchpriority="high" decoding="async"
            srcset="{% if post.thumb.url_small %}{{ post.thumb.url_small }} 250w,{% endif %}{% if post.thumb.url_medium %}{{ post.thumb.url_medium }} 1024w,{% endif %}{{ post.thumb.url }} {{ post.thumb.width }}w" />

            {% if post.thumb_legend != empty and not post.frontmatter.baseline %}<figcaption {% if post.thumb.height > post.thumb.width %}class="legend-center"{% endif %}>{{ post.thumb_legend }}</figcaption>{% endif %}
        </figure>
        
    {% endif %}
    
    {% if post.type != 3 %}
        <h1 itemprop="headline">
        {%- if post.frontmatter.baseline -%}
        <span class="book_genre">{{ post.frontmatter.genre }} </span>{{ post.frontmatter.baseline }}
        {%- else -%}
        {{ post.title }}
        {%- endif -%}
        </h1>
    {% endif %}    

    {% if post.type == 0 and post.navigation %}    
        <nav>
            <a href="{{ post.navigation.prev_url }}" class="prev" rel="prev">&lt; </a>
            {% if post.navigation.maintag.url %}
                <a href="/tag/{{ post.navigation.maintag.url }}" itemprop="articleSection">{{ post.navigation.maintag.title }} {{ post.navigation.order }}</a> - 
            {% elif post.navigation.maintag.slug != blank %}
                <a href="/tag/{{ post.navigation.maintag.slug }}" itemprop="articleSection">{{ post.navigation.maintag.title }} {{ post.navigation.order }}</a> - 
            {% endif %}
            {{ post.navigation.datelink }}
            <a href="{{ post.navigation.next_url }}" class="next" rel="next"> &gt;</a>
        </nav>
    {% endif %}
</header>
    

<section itemprop="articleBody">

    {% if post.frontmatter.exergue %}
        <h2>{{ post.frontmatter.exergue }}</h2>
    {% endif %}

    {% if post.frontmatter.lire %}
        <h6><a href="{{ post.frontmatter.lire }}">Extrait</a></h6>
    {% endif %}
    {% if post.frontmatter.papier %}
        <h6>{{ post.frontmatter.papier }}</h6>
    {% endif %}
    {% if post.frontmatter.ebook %}
        <h6>{{ post.frontmatter.ebook }}</h6>
    {% endif %}

    {{ post.html }}

    {% if post.frontmatter.editor %}
    <h3>Fiche produit</h3>
    <ul>
        <li>Éditeur : {{ post.frontmatter.editor }}</li>
        {% if post.frontmatter.date %}<li>Sortie : {{ post.frontmatter.date }}</li>{% endif %}
        {% if post.frontmatter.pages %}<li>Pages: {{ post.frontmatter.pages }}</li>{% endif %}
        {% if post.frontmatter.isbn %}<li>ISBN papier: {{ post.frontmatter.isbn }}</li>{% endif %}
        {% if post.frontmatter.isbne %}<li>ISBN ebook: {{ post.frontmatter.isbne }}</li>{% endif %}
    </ul>
    {% endif %}
    
</section>

<footer>
    {% if post.type != 3 %}{{ share }}{% endif %}
    {{ newsletter }}
</footer>

</article>

{% if post.type == 0 and post.navigation and post.navigation.prev_url != post.navigation.next_url %}
    <div id="loadMore" next-url="{{ post.navigation.prev_url }}" hidden></div>
{% endif %}
