{% if post.type == 3 %}
    <article itemscope itemType="https://schema.org/CollectionPage">
{% elsif post.type == 2 %}
    <article itemscope itemType="https://schema.org/Book">
{% elsif post.type == 1 %}
    <article itemscope itemType="https://schema.org/WebPage">
{% else %}
    <article itemscope itemType="https://schema.org/BlogPosting">
{% endif %}

<header>
    
    {% if post.type != 3 %}
        <h1 itemprop="headline">
        {%- if post.frontmatter.baseline -%}
        <span class="book_genre">{{ post.frontmatter.genre }} </span>{{ post.frontmatter.baseline }}
        {%- else -%}
        {{ post.title }}
        {%- endif -%}
        </h1>
    {% endif %}    

    {% if post.type == 0 and post.navigation %}
        <nav>
            <a href="{{ post.navigation.prev_url }}" class="prev" rel="prev">&lt; </a>
            {% if post.navigation.url %}
                <a href="{{ post.navigation.url }}" itemprop="articleSection">{{ post.navigation.title }} {{ post.navigation.order }}</a> - 
            {% endif %}
            {{ post.datelink }}
            <a href="{{ post.navigation.next_url }}" class="next" rel="next"> &gt;</a>
        </nav>
    {% endif %}
</header>
    

<div itemprop="articleBody">

    {% if post.frontmatter.exergue %}
        <h2>{{ post.frontmatter.exergue }}</h2>
    {% endif %}

    {% if post.frontmatter.lire %}
        <h6><a href="{{ post.frontmatter.lire }}">Extrait</a></h6>
    {% endif %}
    {% if post.frontmatter.papier %}
        <h6>{{ post.frontmatter.papier }}</h6>
    {% endif %}
    {% if post.frontmatter.ebook %}
        <h6>{{ post.frontmatter.ebook }}</h6>
    {% endif %}

    {{ post.content }}

    {% if post.frontmatter.editor %}
    <h3>Fiche produit</h3>
    <ul>
        <li>Éditeur : {{ post.frontmatter.editor }}</li>
        {% if post.frontmatter.date %}<li>Sortie : {{ post.frontmatter.date }}</li>{% endif %}
        {% if post.frontmatter.pages %}<li>Pages: {{ post.frontmatter.pages }}</li>{% endif %}
        {% if post.frontmatter.isbn %}<li>ISBN papier: {{ post.frontmatter.isbn }}</li>{% endif %}
        {% if post.frontmatter.isbne %}<li>ISBN ebook: {{ post.frontmatter.isbne }}</li>{% endif %}
    </ul>
    {% endif %}
    
</div>

<footer>
    {% if post.type != 3 %}{{ share }}{% endif %}
    {{ newsletter }}
</footer>

</article>

{% if post.type == 0 and post.navigation and post.navigation.prev_url != post.navigation.next_url %}
    <div id="loadMore" data-next-url="{{ post.navigation.prev_url }}" hidden></div>
{% endif %}