{% assign share_path = blog.template  | append: '/share.liquid' %}
{% assign mail_path = blog.template  | append: '/newsletter.liquid' %}

{% if post.type == 2 %}
    <article itemscope itemType="https://schema.org/Book">
{% else %}
    <article itemscope itemType="https://schema.org/BlogPosting">
{% endif %}
    
{% comment %} <meta itemprop="inLanguage" content="fr-FR"/>
<meta itemprop="author" content="Thierry Crouzet"/>
<meta itemprop="datePublished" content="{{ post.pub_date_str }}"/>
<meta itemprop="dateModified" content="{{ post.pub_update_str }}"/> {% endcomment %}

<header>
    {% if post.thumb %}

        <figure class="poster">
            <img width="{{ post.thumb.width }}" height="{{ post.thumb.height }}" src="{{ post.thumb.url }}"
            class="poster-img {% if post.thumb.height > post.thumb.width %}poster-img-book{% else %}poster-img-full{% endif %}" 
            alt="{{ post.thumb_legend }}" loading="lazy" decoding="async"
            srcset="{% if post.thumb.url250 %}{{ post.thumb.url250 }} 250w,{% endif %}{% if post.thumb.url1024 %}{{ post.thumb.url1024 }} 1024w,{% endif %}{{ post.thumb.url }} 1600w" sizes="(max-width: 1600px) 100vw, 1600px" />

            {% if post.thumb_legend != empty and not post.frontmatter.baseline %}<figcaption class="legend legend-poster {% if post.thumb.height > post.thumb.width %}legend-center{% else %}legend-right{% endif %}">{{ post.thumb_legend }}</figcaption>{% endif %}
        </figure>
        
    {% endif %}
        
    {% comment %} <h1 itemprop="headline" id="title{{ post.id }}"> {% endcomment %}
    <h1 itemprop="headline">
    {%- if post.frontmatter.baseline -%}
    <span class="book_genre">{{ post.frontmatter.genre }}</span>{{ post.frontmatter.baseline }}
    {%- else -%}
    {{ post.title }}
    {%- endif -%}
    </h1>

    {% if post.type == 0 and post.navigation %}    
        <nav>
            <a href="{{ post.navigation.prev_url }}" class="prev" rel="prev">&lt; </a>
            {% if post.navigation.maintag.url %}
                <a href="/tag/{{ post.navigation.maintag.url }}" itemprop="articleSection">{{ post.navigation.maintag.title }} {{ post.navigation.order }}</a> ● 
            {% elif post.navigation.maintag.slug != blank %}
                <a href="/tag/{{ post.navigation.maintag.slug }}" itemprop="articleSection">{{ post.navigation.maintag.title }} {{ post.navigation.order }}</a> ● 
            {% endif %}
            {{ post.navigation.datelink }}
            <a href="{{ post.navigation.next_url }}" class="next" rel="next"> &gt;</a>
        </nav>
    {% endif %}
</header>
    

{% comment %} <div class="post hentry" itemprop="articleBody" id="post-{{ post.id }}"> {% endcomment %}
<div class="post" itemprop="articleBody">

    {% if post.frontmatter.exergue %}
        <div class="book_exergue">{{ post.frontmatter.exergue }}</div>
    {% endif %}

    {% if post.frontmatter.lire %}
        <div class="book_sub"><a href="{{ post.frontmatter.lire }}">Extrait</a></div>
    {% endif %}

    {% if post.frontmatter.papier %}
        <div class="book_sub">{{ post.frontmatter.papier }}</div>
    {% endif %}
    {% if post.frontmatter.ebook %}
        <div class="book_sub">{{ post.frontmatter.ebook }}</h5></div>
    {% endif %}


    {{ post.html }}


    {% if post.frontmatter.editor %}
    <h3>Fiche produit</h3>
    <ul>
        <li>Éditeur : {{ post.frontmatter.editor }}</li>
        {% if post.frontmatter.date %}<li>Sortie : {{ post.frontmatter.date }}</li>{% endif %}
        {% if post.frontmatter.pages %}<li>Pages: {{ post.frontmatter.pages }}</li>{% endif %}
        {% if post.frontmatter.isbn %}<li>ISBN papier: {{ post.frontmatter.isbn }}</li>{% endif %}
        {% if post.frontmatter.isbne %}<li>ISBN ebook: {{ post.frontmatter.isbne }}</li>{% endif %}
    </ul>
    {% endif %}
    
    <footer>
        {% include share_path %}
        {% include mail_path %}
    </footer>
</div>

</article>

{% if post.type == 0 and post.navigation and post.navigation.prev_url != post.navigation.next_url %}
    <div id="loadMore" next-url="{{ post.navigation.prev_url }}" hidden></div>
{% endif %}
