<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }} - {{ blog.title }}</title>
    <base href="/">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="alternate" type="application/rss+xml" title="Thierry Crouzet" href="/feeds/feed.xml" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <link rel='stylesheet' href='/style.css?ver={{ blog.version }}' />

    <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />
    <meta name="google-site-verification" content="EmtKKbIk2-Tz3Nyp7hJRPjcMbgf68Vwq6yJYs1hvsqA" />
    <meta name="msvalidate.01" content="805E5BFBA891A41968028F5C97A228D3" />
    <meta name="description" content="{% if post.description %}{{ post.description }}{% else %}{{ blog.description }}{% endif %}" />
    <meta name="author" content="{{ blog.title }}" />
    <link rel="canonical" href="{{ post.canonical }}" />

    <meta property="og:title" content="{{ post.title }}" />
    <meta property="og:description" content="{% if post.description %}{{ post.description }}{% else %}{{ blog.description }}{% endif %}" />
    <meta property="og:url" content="{{ post.canonical }}" />
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="{{ blog.title }}" />
    <meta property="article:published_time" content="{{ post.pub_date_str }}" />
    <meta property="article:modified_time" content="{{ post.pub_update_str }}" />
    <meta property="og:image" content="{{ blog.domain }}{{ post.thumb.jpeg }}" />
    <meta property="og:image:width" content="{{ post.thumb.width }}" />
    <meta property="og:image:height" content="{{ post.thumb.height }}" />
    <meta property="og:image:type" content="image/jpeg" />

</head>

{% if blog.analytics %}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-47YLN2LHVB"></script>
<script data-cfasync=”false”>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-47YLN2LHVB');
</script>
{% endif %}

<body id="mybody">

<header id="top">

  <div id="author">
    <div id="toggle" class="open" aria-label="Menu"></div>
    <a id="nomsmall"
      href="{% if blog.domain == post.canonical %}/page/informations/{% else %}/{% endif %}"
      title="{% if blog.domain == post.canonical %}Informations, Thierry Crouzet{% else %}Accueil, Thierry Crouzet{% endif %}">Thierry <b>CROUZET</b></a>
  </div>
  <div id="toggle-search" aria-label="Recherche"></div>
  <div id="access" class="access pageGutter"></div>
  <div id="access-search" class="access pageGutter"></div>

</header>
<div id="top-spacer"></div>
