{% assign title = post.frontmatter.metatitle | default: post.title | default: blog.title %}
{% assign description = post.frontmatter.metadescription | default: post.description | default: blog.description %}
{% if post.thumb.jpeg %}
  {% set thumb_url = template.domain.rstrip('/') + post.thumb.jpeg %}
{% else %}
  {% set thumb_url = '' %}
{% endif %}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="alternate" type="application/rss+xml" title="Thierry Crouzet" href="/feeds/feed.xml" />

    <link rel=preload href='/style.css?ver={{ blog.version }}' as=style>
    <link rel=stylesheet href='/style.css?ver={{ blog.version }}'>

    <meta name='robots' content='index, follow' />
    <meta name="google-site-verification" content="EmtKKbIk2-Tz3Nyp7hJRPjcMbgf68Vwq6yJYs1hvsqA" />
    <meta name="msvalidate.01" content="805E5BFBA891A41968028F5C97A228D3" />
    <meta name="description" content="{{ description }}" />
    <meta name="author" content="{{ blog.title }}" />
    <link rel="canonical" href="{{ post.canonical }}" />

    <link rel="me" href="https://mamot.fr/@tcrouzet">
    <meta name="fediverse:creator" content="@tcrouzet@mamot.fr">
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:url" content="{{ post.canonical }}" />
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="{{ blog.title }}" />
    <meta property="article:author" content="{{ blog.author }}" />
    <meta property="article:published_time" content="{{ post.pub_date_str }}" />
    <meta property="article:modified_time" content="{{ post.pub_update_str }}" />
    <meta property="og:image" content="{{ thumb_url }}" />
    <meta property="og:image:width" content="{{ post.thumb.width }}" />
    <meta property="og:image:height" content="{{ post.thumb.height }}" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property=og:image:alt content="{{ post.thumb_legend }}">
    <meta name=twitter:card content=summary_large_image>
    <meta name=twitter:image content="{{ thumb_url }}"">
    <meta name=twitter:title content="{{ title }}">
    <meta name=twitter:description content="{{ description }}">

</head>

{% if blog.analytics %}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-47YLN2LHVB"></script>
<script data-cfasync=”false”>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-47YLN2LHVB');
</script>
{% endif %}

<body>

<header>
  <a aria-label="Menu" href="/menu/"></a>
  <a aria-label="Accueil"
    href="{% if post.is_home %}/page/informations/{% else %}/{% endif %}"
    title="{% if post.is_home %}Informations{% else %}Accueil{% endif %}">Thierry <b>CROUZET</b></a>
  <a aria-label="Recherche" href="/search/"></a>
</header>
