<div id="content" role="main" class="splash">
    <div class="pageGutter">

        <p><a href="/page/informations/">Je suis heureux quand j’écris,<br/>alors j’écris…</a></p>

        <h2><a href="/bibliographie/">Livres</a></h2>
        <h3><a href="/books/le-code-houellebecq/"><em>Le Code Houellebecq</em></a></h3>

        <h2><a href="/blog/">Blog</a></h2>
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>

        <h2><a href="/tag/carnet-de-route/">Carnets</a></h2>
        <h3><a href="{{ post.carnet.url }}">{{ post.carnet.title }}</a></h3>

        <h2><a href="/tag/borntobike/">Vélo</a></h2>
        <h3><a href="{{ post.bike.url }}">{{ post.bike.title }}</a></h3>

        <h2><a href="https://genlog.tcrouzet.com/">Genlog</a></h2>
        <h3 id="genlog"><a href="https://genlog.tcrouzet.com/">Mes dernières lectures</a></h3>

        {% assign mailchimp_path = blog.template  | append: '/mailchimp.liquid' %}
        {% include mailchimp_path %}

    </div>
</div>

<script src="https://genlog.tcrouzet.com/genlog_fr.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {

    const container = document.querySelector('.splash');
    const minimumMarginTop = parseInt(window.getComputedStyle(container).marginTop, 0);
  
    function adjustContentPosition() {
      
      if (window.innerHeight > window.innerWidth) {
        container.style.marginTop = ''; // Reset margin-top in portrait mode
        return;
      }

      if (container.offsetHeight < window.innerHeight) {
        let marginTop = (window.innerHeight - container.offsetHeight) / 4;
        marginTop = Math.max(marginTop, minimumMarginTop);
        container.style.marginTop = `${marginTop}px`;
      } else {
        container.style.marginTop = '';
      }
    }  
    adjustContentPosition();
    window.addEventListener('resize', adjustContentPosition);

    function displayLink(link) {
      var genlogDiv = document.getElementById('genlog');
      genlogDiv.innerHTML = '<a href="' + link.url + '">' + link.title + '</a>';
    }
    loadContent(displayLink);

  });
</script>



