<div id="content" role="main" class="splash">
    <div class="pageGutter">

        <p><a href="/informations/">Je suis heureux quand j’écris,<br/>alors j’écris…</a></p>

        <h2><a href="/bibliographie/">Livres</a></h2>
        <h3><a href="/le-code-houellebecq/"><em>Le Code Houellebecq</em></a></h3>

        <h2><a href="/blog/">Blog</a></h2>
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>

        <h2><a href="/tag/carnet-de-route/">Carnets</a></h2>
        <h3><a href="{{ post.carnet.url }}">{{ post.carnet.title }}</a></h3>

        <h2><a href="/tag/borntobike/">Vélo</a></h2>
        <h3><a href="{{ post.bike.url }}">{{ post.bike.title }}</a></h3>

        <h2><a href="https://daylog.tcrouzet.com/">Genlog</a></h2>
        <h3><a href="https://daylog.tcrouzet.com/" id="daylog_link">Mes dernières lectures</a></h3>

        {% assign mailchimp_path = blog.template  | append: '/mailchimp.liquid' %}
        {% include mailchimp_path %}

    </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {

    const container = document.querySelector('.splash');
    const minimumMarginTop = parseInt(window.getComputedStyle(container).marginTop, 0);
  
    function adjustContentPosition() {
      if (container.offsetHeight < window.innerHeight) {
        let marginTop = (window.innerHeight - container.offsetHeight) / 4;
        marginTop = Math.max(marginTop, minimumMarginTop);
        container.style.marginTop = `${marginTop}px`;
      } else {
        container.style.marginTop = '';
      }
    }  
    adjustContentPosition();
    window.addEventListener('resize', adjustContentPosition);

    var now = new Date();
    var year = now.getFullYear();
    var month = ('0' + (now.getMonth() + 1)).slice(-2);
    var day = ('0' + now.getDate()).slice(-2);
    var hour = now.getHours();
    if (hour < 19) {
      now.setDate(now.getDate() - 1);
      year = now.getFullYear();
      month = ('0' + (now.getMonth() + 1)).slice(-2);
      day = ('0' + now.getDate()).slice(-2);
    }

    var link = `https://daylog.tcrouzet.com/${year}/${month}/${day}_fr/`;
    var linkElement = document.getElementById('daylog_link');
    linkElement.setAttribute('href', link);

    var formattedDate = new Intl.DateTimeFormat('fr-FR', { day: '2-digit', month: 'long', year: 'numeric' }).format(new Date(year, month - 1, day));
    linkElement.textContent = formattedDate;

  });
</script>



