{% if post.paged == 0 %}

{% assign tous = "" %}
{% assign carnets='' %}
{% assign born = "" %}
{% assign wip = "" %}
{% assign daylog = "" %}
{% assign page_guter = '' %}

{% if post.navigation.maintag.slug == "carnet-de-route" %}
    {% assign carnets='checked="1" ' %}
{% elif post.navigation.maintag.slug == "borntobike" %}
    {% assign born = 'checked="1" ' %}
{% elif post.navigation.maintag.slug == "ecriture" %}
    {% assign wip = 'checked="1" ' %}
{% else %}
    {% assign tous = 'checked="1" ' %}
    {% assign carnets = 'checked="1" ' %}
    {% assign born = 'checked="1" ' %}
    {% assign wip = 'checked="1" ' %}
    {% assign daylog = 'checked="1" ' %}
{% endif %}
	
{% if post.type == 0 %}
    {% assign page_guter = ' class="pageGutter"' %}
{% endif %}

<form id="mailchimp"{{ page_guter }}>
<div id="thema">
<label class="checkbox" for="mc-blog"><input {{ tous }} type="checkbox" value="1" name="mc-blog" id="mc-blog" />Blog</label>
<label class="checkbox" for="mc-carnet"><input {{ carnets }} type="checkbox" value="2" name="mc-carnet" id="mc-carnet" />Carnets</label>
<label class="checkbox" for="mc-ecriture"><input {{ wip }} type="checkbox" value="3" name="mc-ecriture" id="mc-ecriture" />Écriture</label>
<label class="checkbox" for="mc-bike"><input {{ born }} type="checkbox" value="4" name="mc-bike" id="mc-bike" />Vélo</label>
<label class="checkbox" for="mc-daylog"><input {{ daylog }}type="checkbox" value="1" name="mc-daylog" id="mc-daylog" />Daylog</label>
</div>

<div aria-hidden="true" style="position: absolute; left: -5000px;">
{% comment %} Blog {% endcomment %}
<input type="text" name="b_4346e7140965015f0594fffcd_f8567ebe86" tabindex="-1" value="">
{% comment %} Daylog {% endcomment %}
<input type="text" name="b_b7e4cf04c803fc0f26b2fff20_4580f38547" tabindex="-1" value="">
</div>

<input aria-label="Votre email" type="email" name="mc-email" id="mc-email" onblur="if (this.value==\'\') this.value=\'Ton mail\'" value="Ton mail" onfocus="if (this.value==\'Ton mail\') this.value=\'\'" />
<input type="hidden" value="blog-crouzet" name="feed_id"/>
<input type="submit" name="subscribe" value="Abonne-toi" alt="Abonne-toi" title="Abonne-toi" />
<div id="mc-message"></div>
</form>
		
{% endif %}
