{% assign tous = '' %}
{% assign carnets = '' %}
{% assign born = '' %}
{% assign wip = '' %}
{% assign page_guter = '' %}

{% if post.navigation and post.navigation.maintag.slug == "carnets" %}
    {% assign carnets='checked="1" ' %}
{% elif post.navigation and post.navigation.maintag.slug == "velo" %}
    {% assign born = 'checked="1" ' %}
{% elif post.navigation and post.navigation.maintag.slug == "ecriture" %}
    {% assign wip = 'checked="1" ' %}
{% else %}
    {% assign tous = 'checked="1" ' %}
    {% assign carnets = 'checked="1" ' %}
    {% assign born = 'checked="" ' %}
    {% assign wip = 'checked="1" ' %}
{% endif %}
	
{% if post.type == 0 %}
    {% assign page_guter = ' class="pageGutter"' %}
{% else %}
    {% assign page_guter = '' %}
{% endif %}

<form id="mailchimp"{{ page_guter }} action="https://tcrouzet.us3.list-manage.com/subscribe/post?u=4346e7140965015f0594fffcd&amp;id=f8567ebe86&amp;f_id=00354ee2f0" method="post">
<div id="thema">
<label class="checkbox" for="group[21501][1]"><input {{ tous }} type="checkbox" value="1" name="group[21501][1]" />Blog</label>
<label class="checkbox" for="group[21501][2]"><input {{ carnets }} type="checkbox" value="2" name="group[21501][2]" />Carnets</label>
<label class="checkbox" for="group[21501][8]"><input {{ wip }} type="checkbox" value="3" name="group[21501][8]" />Écriture</label>
<label class="checkbox" for="group[21501][4]"><input {{ born }} type="checkbox" value="4" name="group[21501][4]" />Vélo</label>
</div>

<div aria-hidden="true" style="position: absolute; left: -5000px;">
<input type="text" name="b_4346e7140965015f0594fffcd_f8567ebe86" tabindex="-1" value="">
</div>

<input aria-label="Votre email" type="email" name="EMAIL" onblur="if (this.value=='') this.value='Ton mail'" value="Ton mail" onfocus="if (this.value=='Ton mail') this.value=''" />
<input type="hidden" value="blog-crouzet" name="feed_id"/>
<input type="submit" name="subscribe" value="Abonne-toi" alt="Abonne-toi" title="Abonne-toi" />
</form>