<div class="share">
    <div class="social">
        <a class="icon_com icon" href="javascript:void(0);" onclick="showComments(this)" title="Commenter">
            <span class="count">{{ post.comments }}</span>
        </a>
        <a class="icon_share icon" href="javascript:void(0);" onclick="copyText()" title="Partager"></a>
    </div>
    <div class="plus">&bull;&bull;&bull;
        <ul>
        <li><a href="http://www.printfriendly.com/print?url={{ post.url }}&amp;partner=sociable">Imprime le billet/PDF</a></li>
        <li><a href="https://tcrouzet-com.translate.goog{{ post.url }}/?_x_tr_sl=fr&_x_tr_tl=en&_x_tr_hl=en">Version EN/US</a></li>
        <li>Tags : {% for tag in post.tagslist %}<a href="/tag/{{ tag.url }}">{{tag.title | capitalize}} </a> {% endfor %}</li>
        <li><a href="http://creativecommons.org/licenses/by-nc-sa/4.0/deed.fr" class="footertitre">(cc)</a>&#8239;<a href="/page/informations/">Thierry&#8239;Crouzet</a></li>
        </ul>
    </div>    
</div>

