{% for tag_post in post.posts %}

    <article><a href="/{{ tag_post.url }}">
    
        {% if tag_post.thumb %}
            <img width="250" height="188" src="{{ tag_post.thumb.url_250 }}" class="{% if post.tag == 'book' %}poster-img-book-small{% else %}resume-img{% endif %}"
            alt="{{ tag_post.thumb_legend }}" loading="lazy" decoding="async"
            srcset="{{ tag_post.thumb.url_250 }} 250w, {{tag_post.thumb.url_1024 }} 1024w, {{ tag_post.thumb.url }} 1600w"
            sizes="(max-width: 250px) 100vw, 250px" />
        {% else %}
            <img width="250" height="188" src="/v.png" style="background-color:cadetblue" />
        {% endif %}
        
        </a>

        {% if post.url != "bibliographie" %}
            <data value="{{ tag_post.order }}"><a href="/{{ tag_post.url }}">{{ tag_post.order }}</a></data>
            {% if tag_post.navigation.maintag.title != 'None' and post.tag != tag_post.navigation.maintag.slug %}
                <h3><a href="tag/{{ tag_post.navigation.maintag.url }}">{{ tag_post.navigation.maintag.title }}</a></h3>
            {% endif %}
            <h2><a href="/{{ tag_post.url }}">
                {% if tag_post.type ==5 %}
                    <b>{{ tag_post.title }}</b>
                {% else %}
                    {{ tag_post.title }}
                {% endif %}
                </a>
            </h2>
        {% endif %}
    </article>
    
{% endfor %}

<div id="loadMore" next-url="{{ post.next_url }}" hidden></div>
