{% for tag_post in tags %}

    <article>
        {% if series %}<a href="{{ tag_post.tag_url }}">{% else %}<a href="{{ tag_post.url }}">{% endif %}
    
        {% if tag_post.thumb %}
            <img width="250" height="188"
            src="{% if tag_post.thumb.url_small%}{{ tag_post.thumb.url_small }}{% else %}{{ tag_post.thumb.url }}{% endif %}"
            class="{% if post.tag_slug == 'book' %}poster-img-book-small{% else %}resume-img{% endif %}"
            alt="{{ tag_post.thumb_legend }}" loading="lazy" decoding="async"
            srcset="{% if tag_post.thumb.url_small%}{{ tag_post.thumb.url_small }} 250w,{% endif %}{{ tag_post.thumb.url }} 1024w"
            />
        {% else %}
            <img width="250" height="188" class="resume-img"/>
        {% endif %}
        
        </a>

        {% if post.tag_slug != "book" %}
            {% if post.tag_slug == "series"  %}
                <data value="{{ tag_post.navigation.total_posts }}"><a href="{{ tag_post.tag_url }}">{{ tag_post.navigation.total_posts }}</a></data>
                <h3><a href="{{ tag_post.tag_url }}">{{ tag_post.tag_title }}</a></h3>
                <h2><a href="{{ tag_post.url }}">{{ tag_post.title }}</a></h2>
            {% elsif post.tag_slug == "blog"  %}
                <data value="{{ tag_post.navigation.order }}"><a href="{{ tag_post.url }}">{{ tag_post.navigation.order }}</a></data>
                <h3><a href="{{ tag_post.navigation.url }}">{{ tag_post.navigation.title }}</a></h3>
                <h2><a href="{{ tag_post.url }}">{{ tag_post.title }}</a></h2>
            {% else %}
                <data value="{{ tag_post.ordre }}"><a href="{{ tag_post.url }}">{{ tag_post.ordre }}</a></data>
                <h2><a href="{{ tag_post.url }}">{{ tag_post.title }}</a></h2>
            {% endif %}
        {% endif %}
    </article>
    
{% endfor %}